<h2 id="help_title"> Help - Online Voucher System </h2>

<div id="voucher_help" class="help_list">
	<h4> To create and submit a new voucher: </h4>

	<ol>
		<li>
			Under “Vouchers” on the top bar, click “My Vouchers”
			<%= image_tag 'help_step1.gif', id: 'step1' %>
		</li>
		
		<li> 
			Type in a name for your voucher form, then click “Create.” For example, “Voucher for kitchen supplies”, or “Voucher for misc. pledge project items.” The name is for you to keep track of conveniently. 
			<%= image_tag 'help_step2.gif', id: 'step2' %>
		</li>

		
		<li> 
			Within your newly created voucher form, type in all item names that you purchased for reimbursement, followed by amount, purchase date, and the budget account your item falls under. 
			<%= image_tag 'help_step3.gif', id: 'step3' %>
		</li>

		<li> 
			Click on “file to attach to this voucher” bar and attach your receipt in scanned or photo form. If there are multiple receipt files, then attach multiple files. 
			<%= image_tag 'help_step4.gif', id: 'step4' %>
		</li>

		

		<li> 
			Once all information are filled in, click “Submit.” 
			<%= image_tag 'help_step5.gif', id: 'step5' %>
		</li> 

		<li>
			Go to your MIT mailbox and confirm you see an email sent by “ADP Dashboard.” 
			<%= image_tag 'help_step6.gif', id: 'step6' %>
		</li>
		
		<li>
			Once the voucher is processed, there will be another email sent to you for notification.
		</li>
	</ol>
</div>

<div id="tracking_help" class="help_list">
	<h4>To view your voucher submission progress: </h4>

	<ol>
		<li>
			Go to your MIT mailbox and click the hyperlink within the mail sent to you by ADP Dashboard.
		</li>

		<li>
			Under “State” section, you can see the progress.
		</li>
	</ol>
</div>

<h3> Still does not work? Shoot an email to 
	<a href= "mailto:adphi-online-voucher@mit.edu" target= "_blank">adphi-online-voucher@mit.edu</a> 
</h3>