%h2 Late Dinner

%h3 One-time

- already = current_brother.late_dinners.where(date: Time.zone.today).any?

- if already
  %p.entry You have already requested one-time late dinner for today. 
- else
  - if LateDinner.has_dinner_today?
    - if LateDinner.closed?
      %p.entry= "One-time late dinner entry for today has already closed. "
    - else 
      = link_to "Request Late Dinner for Today", kitchen_request_one_time_late_dinner_path, method: :post, class: 'button postfix'
  - else
    %p.entry= "We don't have dinner tonight. "

- current_brother.late_dinners.each do |ld|
  %p.entry= "You have requested late dinner on " + ld.date.to_s(:short)

%h3 Every Week

- late_dinner_days = current_brother.late_dinner_days || []
- KitchenController::DINNER_WEEKDAYS.each do |wd|
  - requested = late_dinner_days.include?(wd) 
  - dayname = Date::DAYNAMES[wd]
  %p.entry
    Every
    = dayname + ':'
    = requested ? 'Requested' : 'Not Requested'
    - if requested
      = link_to 'Remove Request For Every ' + dayname, kitchen_toggle_weekly_late_dinner_path(wd), method: :post
    - else
      = link_to 'Request For Every ' + dayname, kitchen_toggle_weekly_late_dinner_path(wd), method: :post

