%h2 Late Dinner

%h3 One-time

- already = current_brother.late_dinners.where(date: Time.zone.today).any?

- if already
  %p.entry You have already requested one-time late dinner for today. 
- else
  - if LateDinner.has_dinner_today?
    - if LateDinner.closed?
      %p.entry= "One-time late dinner entry for today has already closed. "
    - else 
      = link_to "Request Late Dinner for Today", kitchen_request_one_time_late_dinner_path, method: :post, class: 'button postfix'
  - else
    %p.entry= "We don't have dinner tonight. "

- current_brother.late_dinners.each do |ld|
  %p.entry= "You have requested late dinner on " + ld.date.to_s(:short)

%h3 Every Week

- late_dinner_days = current_brother.late_dinner_days || []
- KitchenController::DINNER_WEEKDAYS.each do |wd|
  - requested = late_dinner_days.include?(wd) 
  - dayname = Date::DAYNAMES[wd]
  %div.row.weekly_late_dinner
    .small-4.columns
      %p
        Every
        = dayname + ':'
        = requested ? 'Requested' : 'Not Requested'
    .small-8.columns
      - if requested
        = link_to 'Remove Request', kitchen_toggle_weekly_late_dinner_path(wd), method: :post, data: {confirm: "Do you really want to remove weekly late dinner request for #{dayname}?"}
      - else
        = form_tag kitchen_toggle_weekly_late_dinner_path(wd), class: 'reason_form', id: "reason_form_#{wd}" do
          = link_to 'Request', "javascript: $('#reason_form_#{wd}').submit(); ", data: {confirm: "Do you really want to request late dinners for every #{dayname}?"}
          = text_field_tag :reason, '', placeholder: "Provide a brief reason here plzzzzzzzz."
