<h2>Brothers</h2>


<% PledgeClass.order('year ASC').each do |c| %>
  <h4><%= c.name %></h4>
  <div class="row pledge_class">
  <% c.brothers.each do |b| %>
    <div class="small-12 columns entry" id="brother_<%= b.id %>">
      <div class="row">
        <div class="small-12 column">
          <a href="<%= brother_path(b) %>">
            <p>Brother <span class="keywords"><%= b.name %></span>, ΛΦ '<%= two_digit_year b %><%= ", " + b.positions.map { |p| Brother::POSITION_NAMES[p] }.join(", ") unless b.positions.empty? %></p>
            <p>Present at <span class="keywords"><%= @presences[b.id] || 0 %></span> meetings.</p>
            <p>
              Kitchen job balance <span class="keywords" id="kitchen_job_balance_<%= b.id %>"><%= @balances[b.id][:kitchen].value %></span>,
              house job balance <span class="keywords" id="house_job_balance_<%= b.id %>"><%= @balances[b.id][:house].value %></span>,
              work week/weekend debt balance <span class="keywords" id="house_debt_job_balance_<%= b.id %>"><%= @balances[b.id][:house_debt].value %></span>,
              social job balance <span class="keywords" id="social_job_balance_<%= b.id %>"><%= @balances[b.id][:social].value %></span>
            </p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <p class="result"></p>
        </div>
      </div>

      <%= render 'balance_form', balance: @balances[b.id][:kitchen] %>
      <%= render 'balance_form', balance: @balances[b.id][:house] %>
      <%= render 'balance_form', balance: @balances[b.id][:house_debt] %>
      <%= render 'balance_form', balance: @balances[b.id][:social] %>

      <% if can? :update, @balances[b.id][:kitchen] %>
        <div class="row">
          <div class="small-12 columns">
            <p class="action"><%= link_to '+1.5', 'javascript: void(0); ', class: 'kitchen_plus_one_half' %></p>
            <p class="action"><%= link_to '+1', 'javascript: void(0); ', class: 'kitchen_plus' %></p>
            <p class="action"><%= link_to '+0.5', 'javascript: void(0); ', class: 'kitchen_plus_half' %></p>
            <p class="action"><%= link_to '+0.25', 'javascript: void(0); ', class: 'kitchen_plus_quarter' %></p>
            <p class="action"><%= link_to '-0.25', 'javascript: void(0); ', class: 'kitchen_minus_quarter' %></p>
            <p class="action"><%= link_to '-0.5', 'javascript: void(0); ', class: 'kitchen_minus_half' %></p>
            <p class="action"><%= link_to '-1', 'javascript: void(0); ', class: 'kitchen_minus' %></p>
            <p class="action"><%= link_to 'Kitchen-1.5', 'javascript: void(0); ', class: 'kitchen_minus_one_half' %></p>
          </div>
        </div>
      <% end %>
      <% if can? :update, @balances[b.id][:house] %>
        <div class="row">
          <div class="small-12 columns">
            <p class="action"><%= link_to '+1', 'javascript: void(0); ', class: 'house_plus' %></p>
            <p class="action"><%= link_to 'House-1', 'javascript: void(0); ', class: 'house_minus' %></p>
          </div>
        </div>
      <% end %>
      <% if can? :update, @balances[b.id][:house_debt] %>
        <div class="row">
          <div class="small-12 columns">
            <p class="action"><%= link_to '+1', 'javascript: void(0); ', class: 'house_debt_plus' %></p>
            <p class="action"><%= link_to 'Work Week/Weekend Debt-1', 'javascript: void(0); ', class: 'house_debt_minus' %></p>
          </div>
        </div>
      <% end %>
      <% if can? :update, @balances[b.id][:social] %>
        <div class="row">
          <div class="small-12 columns">
            <p class="action"><%= link_to '+1', 'javascript: void(0); ', class: 'social_plus' %></p>
            <p class="action"><%= link_to 'Social-1', 'javascript: void(0); ', class: 'social_minus' %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
