<div class="row headerblock">
  <div class="small-12 columns">
    <h2>Brother <%= @brother.display_name %></h2>
    <h3>Pledge Class <%= @brother.pledge_class.name %>, ΛΦ '<%= two_digit_year(@brother) %><%= ", " + @brother.positions.map { |p| Brother::POSITION_NAMES[p] }.join(", ") unless @brother.positions.empty? %>
    </h3>
  </div>
</div>

<div id="info" class="row">
  <div class="small-12 columns entry">
    <p class="noindent">Kitchen Job Balance: <span class="keywords"><%= @brother.balance(:kitchen).value %></span></p>
    <p class="noindent">House Job Balance: <span class="keywords"><%= @brother.balance(:house).value %></span></p>
    <p class="noindent">Work Week/Weekend Debt Balance: <span class="keywords"><%= @brother.balance(:house_debt).value %></span></p>
    <p class="noindent">Social Job Balance: <span class="keywords"><%= @brother.balance(:social).value %></span></p>
  </div>
</div>

<div id="entries" class="row">
  <% if !@logs.blank? %>
    <% for log in @logs %>
      <div class="small-12 columns entry">
        <p class="date">On <%= friendly_date(log[:time]) %> at <%= friendly_time(log[:time]) %></p>
        <p class="description"><%= markup_keywords(log[:description]) %></p>
      </div>
    <% end %>
  <% else %>
    <div class="small-12 columns entry">
      <p>There are no entries for this brother yet. </p>
    </div>
  <% end %>
</div>

<div id="actions">
  <% if @brother == current_brother %>
    <p><%= link_to "Click here", controller: "brothers", action: "test_email", id: @brother %> to send a test email to yourself at <%= mail_to @brother.email %>, to verify that that email notifications from the dashboard can reach you successfully. </p>
  <% end %>
</div>
