<div data-alert class="alert-box alert section-errors" id="errors">
</div>

<% line_items = voucher.line_items.select { |i| !i.new_record? } %>

<% if line_items.empty? %>
  <div class="row entry">
    <div class="small-12 columns">
      There are no items added to this voucher yet.
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-12 columns">
      <table class="full-width line-items-table">
        <thead>
          <th>Item Name</th>
          <th>Budget Type</th>
          <th>Purchase Date</th>
          <th>Amount</th>
          <th>Actions</th>
        </thead>
        <% line_items.each do |i| %>
          <tr>
            <% next if i.new_record? %>
            <td><%= i.title %></td>
            <td><%= i.budget_type_name %></td>
            <td><%= i.purchase_date.to_s %></td>
            <td>$ <%= i.amount %></td>
            <td>
              <%= link_to 'Remove', [voucher, i], method: :delete, data: {remote: true, confirm: "Do you really wanna delete item \"#{i.title}\"?"} %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3">Total: </td>
          <td colspan="2">$ <%= voucher.total_amount %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
