<!DOCTYPE html>
<html id="voucher_export">
<head>
    <title>Disbursement Voucher</title>
    <style type="text/css">
        <%= raw Rails.application.assets.find_asset('voucher_export.css').source %>
    </style>
</head>
<body>
    <h1>Disbursement Voucher</h1>

    <h2>Payee Information</h2>

    <table>
        <tr>
            <th>Submission Date</th>
            <th>Payable To</th>
        </tr>

        <tr>
            <td><%= @voucher.signatures.first.created_at.to_date.to_s(:long) %></td>
            <td><%= @voucher.brother.name %></td>
        </tr>
    </table>

    <h2>Expense Itemization</h2>

    <table>
        <tr>
            <th>Date Incurred</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Account</th>
        </tr>

        <% @voucher.line_items.each do |l| %>
            <tr>
                <td><%= l.purchase_date.to_s(:long) %></td>
                <td><%= l.title %></td>
                <td>$<%= sprintf('%0.2f', l.amount) %></td>
                <td><%= l.budget_type_name %></td>
            </tr>
        <% end %>

        <tr>
            <td></td>
            <td>Total Amount</td>
            <td>$<%= sprintf('%0.2f', @voucher.total_amount) %></td>
            <td></td>
        </tr>
    </table>

    <h2>Authorization</h2>

    <table>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Signature</th>
            <th>Date</th>
        </tr>

        <% @voucher.signatures.reverse.each do |s| %>
            <tr>
                <!-- TODO: this is not good practice -->
                <td><%= s.category.to_s.split("_")[-1].capitalize %></td>
                <td><%= s.brother.name %></td>
                <td><%= s.signed? ? s.brother.name : '' %></td>
                <td><%= s.signed? ? s.updated_at.to_date.to_s(:long) : '' %></td>
            </tr>
        <% end %>
    </table>

    <% if @voucher.approved? %>
        <h2>Treasury</h2>

        <table>
            <tr>
                <th>Date</th>
                <th>Check Number</th>
                <th>Amount</th>
            </tr>

            <tr>
                <td><%= @voucher.approved_at.to_date.to_s(:long) %></td>
                <td><%= @voucher.check_number %></td>
                <td>$<%= sprintf('%.2f', @voucher.paid_amount) %></td>
            </tr>

            <tr>
                <td colspan="3">
                    <b>Note: </b> <%= @voucher.note %>
                </td>
            </tr>
        </table>

    <% end %>
</body>
</html>

