<h2>Vouchers</h2>

<% if can? :create, Voucher %>
  <div class="row">
    <%= form_for(@voucher) do |f| %>
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= f.text_field :title, placeholder: 'The title of the voucher. ' %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Create", class: 'button postfix' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<% @vouchers.each do |v| %>
  <div class="row entry">
    <div class="small-12 columns">
      <%= link_to v do %>
        <p><%= v.title %></p>
        <p>Created by <span class="keywords"><%= v.brother.name %></span> on <span class="keywords"><%= friendly_date(v.created_at) %></span></p>
        <p>
          <%= 'The voucher has not yet been submitted' if v.draft? %>
          <%= 'The voucher has been approved. ' if v.approved? %>
          <%= 'The voucher has been declined. ' if v.declined? %>
          <%= 'The voucher is pending officer signatures. ' if v.pending_officer_signatures? %>
          <%= 'The voucher is pending president signature. ' if v.pending_president_signature? %>
          <%= 'The voucher is pending treasurer signature. ' if v.pending_treasurer_signature? %>
        </p>
      <% end %>
      <%= link_to 'Remove this voucher', voucher_path(v), method: :delete, class: 'action', data: {confirm: "Are you sure that you want to delete the voucher titled \"#{v.title}\"? "} if v.draft? %>
    </div>
  </div>
<% end %>
