<div class="row headerblock">
  <div class="small-12 columns">
    <h2><%= @voucher.title %></h2>
    <h3>Submitted by <%= link_to @voucher.brother.name, @voucher.brother %> on <%= friendly_date @voucher.created_at %></h3>
  </div>
</div>

<h4>Items</h4>

<%= form_for [@voucher, @line_item], remote: true do |f| %>
<div class="row collapse">
  <div class="small-6 columns">
    <%= f.text_field :title, placeholder: 'Item name. ' %>
  </div>
  <div class="small-4 columns">
    <%= f.text_field :amount, placeholder: 'Amount. ' %>
  </div>
  <div class="small-2 columns">
    <%= f.submit "Add Item", class: 'button postfix' %>
  </div>
</div>
<% end %>

<div id="line_items">
  <%= render 'line_items', voucher: @voucher %>
</div>

<h4>Receipts</h4>

<%= form_for [@voucher, @receipt], remote: true, authenticity_token: true, builder: ApplicationHelper::ExtendedFormBuilder, html: {multipart: true} do |f| %>
<div class="row collapse">
  <div class="small-10 columns">
    <%= f.embedded_file_field :content, placeholder: 'File to attach to this voucher. ' %>
  </div>
  <div class="small-2 columns">
    <%= f.submit "Attach Receipt", class: 'button postfix' %>
  </div>
</div>
<% end %>

<div id="receipts">
  <%= render 'receipts', voucher: @voucher %>
</div>
