.row.headerblock
  .small-12.columns
    %h2= @voucher.title
    %h3
      Created by #{link_to @voucher.brother.name, @voucher.brother} on #{friendly_date @voucher.created_at}

%h4 Items
- if @voucher.draft?
  = form_for [@voucher, @line_item], remote: true do |f|
    .row.collapse.inline-form
      .small-5.columns
        = f.text_field :title, placeholder: 'Item name. ', autofocus: true
      .small-1.columns
        = f.text_field :amount, placeholder: '$ amount. '
      .small-2.columns
        = f.text_field :purchase_date, placeholder: 'Purchase date. '
      .small-2.columns
        = f.select :budget_type, LineItem.budget_type_options
      .small-2.columns
        = f.submit "Add Item", class: 'button postfix'
#line_items
  = render 'line_items', voucher: @voucher

%h4 Receipts
- if @voucher.draft?
  = form_for [@voucher, @receipt], remote: true, authenticity_token: true, builder: ApplicationHelper::ExtendedFormBuilder, html: {multipart: true} do |f|
    .row.collapse
      .small-10.columns
        = f.embedded_file_field :content, placeholder: 'File to attach to this voucher. '
      .small-2.columns
        = f.button "Attach Receipt", class: 'button postfix', data: {disable_with: 'Uploading...'}
#receipts
  = render 'receipts', voucher: @voucher

%h4 State

- if !@voucher.declined?
  .row.collapse
    .checkout-wrap.col-md-7.col-sm-12.col-xs-12
      %ul.checkout-bar
        %li{ class:[ ("active" if @voucher.state_index == 0), ("visited" if @voucher.state_index != 0)] }
          %a{"data-toggle" => "tab", :href => "#"} Draft
        %li{ class:[ ("active" if @voucher.state_index == 1), ("visited" if @voucher.state_index > 1)] }
          %a{"data-toggle" => "tab", :href => "#"} Pending Officer Signatures
        %li{ class:[ ("active" if @voucher.state_index == 2), ("visited" if @voucher.state_index > 2)] }
          %a{"data-toggle" => "tab", :href => "#"} Pending President Signature
        %li{ class:[ ("active" if @voucher.state_index == 3), ("visited" if @voucher.state_index > 3)] }
          %a{"data-toggle" => "tab", :href => "#"} Pending Treasurer Signature
        %li{ class:[ ("visited" if @voucher.state_index == 4)] }
          %a{"data-toggle" => "tab", :href => "#"} Approved

- if @voucher.draft?
  .row.collapse.inline-form
    .small-10.columns
      %p This voucher is still a draft.
    .small-2.columns
      = link_to 'Submit', publish_voucher_path(@voucher), method: :post, data: {confirm: 'Vouchers cannot be altered once submitted. Are you sure? '}, class: 'button postfix'
- if @voucher.pending_signatures?
  .row.collapse.inline-form
    .small-12.columns
      = "This voucher is waiting on signatures from the officers. " if @voucher.pending_officer_signatures?
      = "This voucher is waiting on signature from the president. " if @voucher.pending_president_signature?
      = "This voucher is waiting on signature from the treasurer. " if @voucher.pending_treasurer_signature?
  - @voucher.current_signatures.each do |sig|
    .row
      .small-12.columns
        = sig.brother.name
        = sig.pending? ? 'has not' : 'has'
        signed.
    - if sig.pending? && sig.brother == current_brother
      - if @voucher.pending_treasurer_signature?
        = link_to 'Modify Voucher', edit_voucher_path(@voucher)
        |
        = link_to 'Export Voucher', export_voucher_path(@voucher), target: "_blank"

        = form_tag approve_voucher_path(@voucher), method: :post do
          .row.collapse.inline-form
            .small-12.colums
              =text_field_tag :note, '', placeholder: 'Notes about this voucher. '
          .row.collapse.inline-form
            = hidden_field_tag :signature_id, sig.id
            .small-6.columns
              = text_field_tag :paid_amount, '', placeholder: 'Amount to pay. '
            .small-6.columns
              = text_field_tag :check_number, '', placeholder: 'Check number. '
          .row.collapse.inline-form
            .small-6.columns
              = submit_tag 'Approve', class: 'button postfix', data: {confirm: 'Do you really want to approve this voucher? '}
            .small-6.columns
              = link_to 'Decline', decline_signature_path(sig), method: :post, data: {confirm: 'Do you really want to decline this voucher? It will cause the entire voucher to be declined immediately. '}, class: 'button alert postfix'
      - else
        .row.collapse.inline-form
          .small-6.columns
            = link_to 'Sign', sign_signature_path(sig), method: :post, data: {confirm: 'Do you really want to approve this voucher? '}, class: 'button postfix'
          .small-6.columns
            = link_to 'Decline', decline_signature_path(sig), method: :post, data: {confirm: 'Do you really want to decline this voucher? It will cause the entire voucher to be declined immediately. '}, class: 'button alert postfix'
- if @voucher.declined?
  .row.collapse.inline-form
    .small-12.columns
      %p This voucher has been declined.
- if @voucher.approved?
  .row.collapse.inline-form
    .small-12.columns
      %p This voucher has been approved.

- if @voucher.pending_officer_signatures?
  %h4 Actions
  = link_to 'Regenerate Signatures (In Case of Officer Changes)', regenerate_signatures_voucher_path(@voucher), class: 'button', method: 'post', data: {confirm: 'This will start the signature process from scratch (i.e., you\'ll lose all current signed signatures). Are you sure? '}