<div class="row headerblock">
  <div class="small-12 columns">
    <h2><%= @voucher.title %></h2>
    <h3>Submitted by <%= link_to @voucher.brother.name, @voucher.brother %> on <%= friendly_date @voucher.created_at %></h3>
  </div>
</div>

<h4>Items</h4>

<% if @voucher.draft? %>
<%= form_for [@voucher, @line_item], remote: true do |f| %>
<div class="row collapse inline-form">
  <div class="small-5 columns">
    <%= f.text_field :title, placeholder: 'Item name. ', autofocus: true %>
  </div>
  <div class="small-1 columns">
    <%= f.text_field :amount, placeholder: '$ amount. ' %>
  </div>
  <div class="small-2 columns">
    <%= f.text_field :purchase_date, placeholder: 'Purchase date. ' %>
  </div>
  <div class="small-2 columns">
  <%= f.select :budget_type, LineItem.budget_type_options %>
  </div>
  <div class="small-2 columns">
    <%= f.submit "Add Item", class: 'button postfix' %>
  </div>
</div>
<% end %>
<% end %>

<div id="line_items">
  <%= render 'line_items', voucher: @voucher %>
</div>

<h4>Receipts</h4>

<% if @voucher.draft? %>
<%= form_for [@voucher, @receipt], remote: true, authenticity_token: true, builder: ApplicationHelper::ExtendedFormBuilder, html: {multipart: true} do |f| %>
<div class="row collapse">
  <div class="small-10 columns">
    <%= f.embedded_file_field :content, placeholder: 'File to attach to this voucher. ' %>
  </div>
  <div class="small-2 columns">
    <%= f.button "Attach Receipt", class: 'button postfix', data: {disable_with: 'Uploading...'} %>
  </div>
</div>
<% end %>
<% end %>

<div id="receipts">
  <%= render 'receipts', voucher: @voucher %>
</div>

<h4>State</h4>

<% if @voucher.draft? %>
  <div class="row collapse inline-form">
    <div class="small-10 columns">
      <p>This voucher is still a draft.</p>
    </div>
    <div class="small-2 columns">
    <%= link_to 'Submit', publish_voucher_path(@voucher), method: :post, data: {confirm: 'Vouchers cannot be altered once submitted. Are you sure? '}, class: 'button postfix' %>
    </div>
  </div>
<% end %>

<% if @voucher.pending_signatures? %>
  <div class="row collapse inline-form">
    <div class="small-12 columns">
      <%= "This voucher is waiting on signatures from the officers. " if @voucher.pending_officer_signatures? %>
      <%= "This voucher is waiting on signature from the president. " if @voucher.pending_president_signature? %>
      <%= "This voucher is waiting on signature from the treasurer. " if @voucher.pending_treasurer_signature? %>
    </div>
  </div>
  <% @voucher.current_signatures.each do |sig| %>
    <div class="row collapse inline-form">
      <div class="small-8 columns">
        <%= sig.brother.name %>
        <%= sig.pending? ? 'has not' : 'has' %>
        signed.
      </div>
      <% if sig.pending? && sig.brother && current_brother %>
        <div class="small-2 columns">
          <%= link_to 'Sign', sign_signature_path(sig), method: :post, data: {confirm: 'Do you really want to approve this voucher? '}, class: 'button postfix' %>
        </div>
        <div class="small-2 columns">
          <%= link_to 'Decline', decline_signature_path(sig), method: :post, data: {confirm: 'Do you really want to decline this voucher? It will cause the entire voucher to be declined immediately. '}, class: 'button alert postfix' %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @voucher.declined? %>
  <div class="row collapse inline-form">
    <div class="small-12 columns">
      <p>This voucher has been declined. </p>
    </div>
  </div>
<% end %>

<% if @voucher.approved? %>
  <div class="row collapse inline-form">
    <div class="small-12 columns">
      <p>This voucher has been approved. </p>
    </div>
  </div>
<% end %>
